<app-button
  [ngClass]="{backBtn: activeLink, hideBtn: !activeLink}"
  buttonStyle="backButton"
  buttonType="button"
  buttonName="back to dashboard"
  [onClick]="navigateBack.bind(this)"
>
</app-button>
<div class="currentSprintContainer">
  <div  
    class="ticket"
    *ngFor="let tkt of jiraTickets"
  >
    <app-clickable-cards
      [name]="tkt.ticketNumber"
      [url]="tkt.url"
      [status]="tkt.fields.status.name"
      [summary]="tkt.fields.summary"
    >
    </app-clickable-cards>
  </div>
</div>
