.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .panel {
        flex-direction: column-reverse; 
    }
}

.dashboardContainer {
    background-color: #d0edee;
    height: 90%;
    overflow-x: hidden;
    padding: 8px;
    flex-direction: row;
    min-height: 600px;
    flex: 80%;
}

.contentLeave {
    box-shadow: -2px 0 lightgray;
}

.sidePanel {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex: 15%;
    text-align: center; 
}

.link {
    align-items: center;
    background-color: #fcf8f8;
    border-bottom: 1px solid #d1c3c3;
    color: #000000;
    display: flex;
    justify-content: center;
    min-height: 50px;
    min-width: 100px;
    text-decoration: none;
    width: 100%;
}

.link:first-child {
    border-top: 1px solid #d1c3c3;
}

.link:hover {
    cursor: pointer;
    background-color:#d1c3c3;
}