.currentSprintContainer {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8px 8px 0;
}

.ticket {
    margin: 8px;
}

@media only screen and (max-width: 600px) {
    .currentSprintContainer {
        justify-content: center;
    }

    .ticket {
        width: 100%;
    }
}

.backBtn {
    background-color: transparent;
}

.hideBtn {
    display: none;
}