.appContainer {
    background-color: #fafafa;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    overflow-y: auto;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> fb12ba388ec8366398e28f6b1e8b6090eb04530f
}