
.leave {
    animation: slideOut 1s;    
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.enter {
    animation: slideIn 1s;    
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.slideShow {
    width: 100%;
}