/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
<<<<<<< HEAD
}

main {
    width: 90vw;
=======
>>>>>>> fb12ba388ec8366398e28f6b1e8b6090eb04530f
}